body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    background-color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

#gridClass {
    background-image: url('Index_backend.png');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

#blogPost{
}
#blogMenu   {

}
.small{
    width: 60%;
}
.dislikeButton{
    height: 20px;
    width: 2px;
}
.testi{
    background-image: url(http://www.pizzaromaaventura.com/media/wysiwyg/pizza/pizzaromabanner.jpg);
    height: 400px;
}
#korttijuttu{
    width: 80%;
}

/* Blogpost main mother div */
#mainBlogpostDiv{

}

#postComment{
    display: flex;
}

/* Main page blogpost title! */
#mainBlogpostTitle  {
    font-size: x-large;
}

/* Main page blogpost username! */
#mainBlogpostUsername   {
    font-size: x-small;
    color: #000;
}
/* Main page blogpost body! */
#mainBlogpostBody   {

}

/* Blogpost opened mother div */
#openBlogpostDiv{

}
/* When blogpost is clicked open! */
#openBlogpostBody   {

}
/* When blogpost is clicked open! */
#openBlogpostTitle  {


}
/* When blogpost is clicked open! */
#openBlogpostUsername   {
    font-size: larger;
    font-style: italic;
}


/* Posting blog div */
#postBlog{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
/* posting blog title field */
#title  {

}
/* posting blog username field */
#username   {
    font-size: smaller;
}
/* posting blog body field */
#body   {
    resize:none;
}


/* Blog post comments mother div */
#commentDiv{

}
/* Blog post comments username */
#commentUsername    {
    font-style: italic;
    font-size: larger;
}
/* Blog post comments date */
#commentDate    {
    font-size: smaller;
}
/* Blog post comments body */
#commentBody    {

}

#navBar {
    background-color:#6d4c41;
    background-image: url("texture.png");
    background-size: 100% 100%;
}

.logButton {
    background-color:#00796b;
}

.logButton:hover {
    background-color:#48a999;
}

.logField {
    /*background-color:#ffffff !important;
    color:#000 !important;
    border: 1px solid gray !important;
    width:50% !important;
    border-radius: 5px !important;
    height:20px !important;*/

}

#singlePost{
    font-style:oblique;
    float:right;
}


#bottomFooter {
        background-color:#2c1914;
        background-size: 100% 100%;
}
