body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image:url('Index_backend.png');
    width: 100%;
    background-size: 100%;
}

#root {
    background-color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
}
#banner {
    background-image:url('Pizzalovers blog banner.png');
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
div{

}

#gridClass {
    background-image: url('Index_backend.png');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

/*Login div */
#login {
    display: flex;
    justify-content: flex-end;
}



#blogPost{
}

/* Blogpost main mother div */
#mainBlogpostDiv{


}
/* Main page blogpost title! */
#mainBlogpostTitle  {

}
#blogMenu   {
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
}

/* Main page blogpost username! */
#mainBlogpostUsername   {

}
/* Main page blogpost body! */
#mainBlogpostBody   {

}

/* Blogpost opened mother div */
#openBlogpostDiv{

}
/* When blogpost is clicked open! */
#openBlogpostBody   {

}
/* When blogpost is clicked open! */
#openBlogpostTitle  {

}
/* When blogpost is clicked open! */
#openBlogpostUsername   {
    font-size: larger;
    font-style: italic;
}


/* Posting blog div */
#postBlog{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
/* posting blog title field */
#title  {

}
/* posting blog username field */
#username   {
    font-size: smaller;
}
/* posting blog body field */
#body   {
    resize:none;
}


/* Blog post comments mother div */
#commentDiv{

}
/* Blog post comments username */
#commentUsername    {
    font-style: italic;
    font-size: larger;
}
/* Blog post comments date */
#commentDate    {
    font-size: smaller;
}
/* Blog post comments body */
#commentBody    {

}